
<html lang="fr">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<head>
    <title>Movie2Move</title>
    <link rel="stylesheet" href="{{ asset('bundles/thagm2m/jquery-fsortable/demo/demo.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/thagm2m/assets/bootstrap/css/bootstrap.min.css') }}">
</head>

<body>
<p>BAH ALORS CA FONCTIONNE PAS  '-'</p>
<a class="btn btn-warning" href="/jeu">Relancer une partie <i class="fa fa-angle-right"></i></a>
</body>

<script>

    //----------------------------------------------------A MODIFIER-----------------------------------------------------------
    //obtenir le score

    //----------------------------------------------------A MODIFIER-----------------------------------------------------------
</script>



</html>

